[user]
	name = lapis25
	email = lapis25@gmail.com
[color]
	ui = true
[core]
	pager = cat
	editor = screen -X select 0 & emacsclient
[github]
	user = lapis25
	token = d45e9bef8083493a4378a471b06cb9cf
[alias]
	co = checkout
	olog = log --oneline
	st = status

[pull]
	rebase = true
